:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.todolist-container
{ background-color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.488);
}
.heading
{
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: aquamarine;
}
/* .todo-display{
 display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  margin: 10px;
} */
.todo-item{
 flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  margin-bottom: 10px;
}
.todo-item.complete {
  text-decoration: line-through;
  color: gray;
}
.todo-item.pending {
  color: orange;
}